@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  section,
  .section {
    @apply px-4 py-20 md:px-16 lg:px-32 xl:px-64;
  }

  button {
    @apply px-8 py-2 text-white bg-black border border-black rounded-sm hover:bg-gray-600 hover:border-gray-600;
  }

  button:disabled {
    @apply text-gray-500 bg-gray-200 border-gray-300 cursor-default;
  }
}

@layer utilities {
  .btn-outline {
    @apply text-black bg-transparent border border-black hover:bg-black hover:text-white;
  }
  @variants responsive {
    .center-y {
      @apply flex items-center;
    }

    .center-x {
      @apply flex justify-center;
    }

    .center-xy {
      @apply flex items-center justify-center;
    }
  }
}

.bg-hero {
  background-image: linear-gradient(
      135deg,
      rgba(0, 0, 0, 0.6) 50%,
      rgba(0, 0, 0, 0.6) 50%
    ),
    url('assets/hero.png');
}
